.details {
  padding-top: 25px;
}

.detail {
  width: 600px;
  height: 787px;
  border-right: 2px solid #808080;
  padding-left: 25px;
  padding-right: 24px;
}
.detail img {
  margin-left: 172px;
  width: 200px;
  height: 200px;
  margin-right: 174px;
}
.details h2 {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
  line-height: 56.02px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.details-desc {
  padding-bottom: 22px;
  width: 547px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.details-rank {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 32.02px;
  color: #ffffff;
  padding-bottom: 19.99px;
}
.back {
  font-size: 24px;
  color: blue;
  text-decoration: underline;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.btn-link {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
}

.details-price {
  padding-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  line-height: 32.02px;
  color: #ffffff;
}

.price {
  padding-left: 13px;
  font-family: '  Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 32.02px;
  color: #ffffff;
}

.details-market {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  line-height: 32.02px;
  color: #ffffff;
}

.details-data {
  padding-left: 13px;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 32.02px;
  color: #ffffff;
}

.details-num {
  padding-left: 13px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 32.02px;
  color: #ffffff;
}
.buttons {
  margin-left: 400px;
  align-items: center;
  display: flex;
  gap: 38px;
}

.hour {
  cursor: pointer;

  border: 1px solid #87ceeb;
  padding-top: 11px;
  padding-left: 21px;
  padding-right: 187px;
  padding-bottom: 11px;
  background-color: #87ceeb;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: #000000;
}

.days {
  cursor: pointer;

  border: 1px solid #87ceeb;
  padding-top: 11px;
  padding-left: 21px;
  padding-bottom: 11px;
  padding-right: 199px;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  background-color: #14161a;
  color: #ffffff;
}

.month {
  cursor: pointer;

  border: 1px solid #87ceeb;
  padding-top: 11px;
  padding-left: 21px;
  padding-bottom: 11px;
  padding-right: 187px;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  background-color: #14161a;
  color: #ffffff;
}

.year {
  cursor: pointer;
  padding-top: 11px;
  background-color: #14161a;

  padding-left: 21px;
  padding-bottom: 11px;
  padding-right: 218px;
  border: 1px solid #87ceeb;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: #ffffff;
}
